*.pyc
logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
bower_components/
src/app/amazon-connect-*
src/app/angular.js
src/app/bootstrap.css
src/app/bootstrap.css.map
src/app/js/ucc-ccp-api-1.0.js
src/app/js/ucc-ccp-gui-1.0.js
env/
__pycache__
accolade-ccp-darwin-x64
accolade-ccp-linux-armv7l
accolade-ccp-linux-ia32
accolade-ccp-linux-x64
accolade-ccp-mas-x64
accolade-ccp-win32-ia32
accolade-ccp-win32-x64
*~
release-builds
.vscode
*.bak
aws_authorization.py
zappa_settings.json
packaged-template.yaml
src/.build
src/app/local
venv/bin/activate
venv/bin
venv/lib
venv/pyvenv.cfg
venv/
yarn-error.log
package-lock.json
build.js*
